<!doctype html>


<html>
  <head>
    <title>mitube</title>
    
    {{!-- CDN --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {{!-- Development storage --}}
    {{!-- <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/js/jquery-3.3.1.min.js"></script> --}}

    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>
    
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light py-1">

      <a class="navbar-brand" href={{userdata.home}}>
        <img src="img/headphones2.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong>mitube</strong>
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        {{!-- Opciones menú --}}
        <ul class="navbar-nav mr-auto align-middle">
        {{#if userdata.logged}}
          {{#if userdata.gmusicAuth}}
          <li class="nav-item {{#if active.user}}active{{/if}}">
            <a class="nav-link" href="user">
              <img src="img/list.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-lg-inline-block">Mis listas</span>
              {{!-- <span class="d-none d-md-inline-block">Mis listas</span> --}}
            </a> 
          </li>
            {{#if userdata.admin}}
          <li class="nav-item {{#if active.admin}}active{{/if}}">
            <a class="nav-link" href="admin">
              <img src="img/settings.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-lg-inline-block">Admin</span>
            </a>
          </li>
            {{/if}}
          {{/if}}
        {{/if}}
          <li class="nav-item {{#if active.manual}}active{{/if}}">
            <a class="nav-link" href="manual">
              <img src="img/file-text.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-lg-inline-block">Funcionamiento</span>
            </a>
          </li>
          <li class="nav-item {{#if active.about}}active{{/if}}">
            <a class="nav-link" href="about">
              <img src="img/info.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-lg-inline-block">Sobre mí</span>
            </a>
          </li>
        </ul>

        {{!--TODO: Poner un separador, entre esto y lo anterior, sobretodo para cuando esté en el menú hamburguesa se vea la diferencia  --}}
        {{!-- Opciones de usuario --}}
        <ul class="navbar-nav navbar-right justify-content-center">
        {{#if userdata.logged}}
          <li class="separator"></li>
          <li class="nav-item">
            <img src="img/user.svg" width="20" height="20" class="d-inline-block" alt="">
            <span class="navbar-text"><strong>{{userdata.username}}</strong></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">
              <img src="img/power.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-lg-inline-block">Salir</span>
            </a>
          </li>
        {{else}}
          <li class="nav-item {{#if active.home}}active{{/if}}">
            <a class="nav-link" href="/">
              <img src="img/user-check.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-md-inline-block">Entrar</span>
            </a>
          </li>
          <li class="nav-item {{#if active.register}}active{{/if}}">
            <a class="nav-link" href="register">
              <img src="img/user-plus.svg" width="20" height="20" class="d-inline-block" alt="">
              <span class="d-sm-none d-md-inline-block">Registrarse</span>
            </a>
          </li>
        {{/if}}
        </ul>
      </div>
    </nav>


    {{{body}}}


  </body>
</html>