<!doctype html>


<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mitube</title>

    <link rel="shortcut icon" href="public/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark static-top color-negro">
      <div class="container">

        <a class="navbar-brand" href="{{userdata.home}}">
          <img src="img/headphones2.svg" width="30" height="30" class="d-inline-block align-top icono" alt="">
          <strong>mitube</strong>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
          {{#if userdata.logged}}
            {{#if userdata.gmusicAuth}}
            <li class="nav-item {{#if active.user}}active{{/if}}">
              <a class="nav-link" href="user">
                <img src="img/list.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Mis listas</span>
              </a> 
            </li>
              {{#if userdata.admin}}
            <li class="nav-item {{#if active.admin}}active{{/if}}">
              <a class="nav-link" href="admin">
                <img src="img/settings.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Admin</span>
              </a>
            </li>
              {{/if}}
            {{/if}}
          {{/if}}
            <li class="nav-item {{#if active.manual}}active{{/if}}">
              <a class="nav-link" href="manual">
                <img src="img/file-text.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Funcionamiento</span>
              </a>
            </li>
            <li class="nav-item {{#if active.about}}active{{/if}}">
              <a class="nav-link" href="about">
                <img src="img/info.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Sobre mí</span>
              </a>
            </li>
          </ul>

          <div class="dropdown-divider"></div>

          <ul class="navbar-nav navbar-right justify-content-center">
          {{#if userdata.logged}}
            <li class="separator"></li>
            <li class="nav-item">
              <img src="img/user.svg" width="20" height="20" class="d-inline-block icono" alt="">
              <span class="navbar-text"><strong>{{userdata.username}}</strong></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">
                <img src="img/power.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Salir</span>
              </a>
            </li>
          {{else}}
            <li class="nav-item {{#if active.home}}active{{/if}}">
              <a class="nav-link" href="/mitube/">
                <img src="img/user-check.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Entrar</span>
              </a>
            </li>
            <li class="nav-item {{#if active.register}}active{{/if}}">
              <a class="nav-link" href="register">
                <img src="img/user-plus.svg" width="20" height="20" class="d-inline-block icono" alt="">
                <span class="d-md-inline-block">Registrarse</span>
              </a>
            </li>
          {{/if}}
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
          {{{body}}}
      </div>
    </div>

  </body>
</html>