<div class="col-lg-12">

  <div class="about-body">
    <h2 class="mt-3">Sobre mí</h2>
  
    <div class="mt-2">
      <span>Puedes contactar conmigo a través de <strong>desarrollovazquezrubio@gmail.com</strong>. Cualquier duda, sugerencia, agradecimiento... son bienvenidos.</span>
    </div>

    <div class="mt-2">
      <span>Si quieres replicar el proyecto o ver como funciona internamente lo puedes ver en el <a href="https://github.com/tomasvrubio/miTUBE" target="_blank">repositorio github de mitube</a>.</span>
    </div>
  </div>

</div>
