<div class="col-lg-12">

  <div class="about-body">
    <h2 class="mt-3">Sobre mí</h2>
  
  
    <div class="text-center mt-2">
      <a href="mailto:desarrollovazquezrubio@gmail.com">
        <img class="image_fix" style="max-width:50px" src="img/black-envelope-email-symbol.svg" alt="miTUBE" title="miTUBE"/> 
      </a>
    </div>

    <div class="mt-2">
      <span>Puedes contactar conmigo a través de <strong>desarrollovazquezrubio@gmail.com</strong>. Cualquier problema, duda, sugerencia, agradecimiento... son bienvenidos.</span>
    </div>


    <div class="text-center mt-3">
      <a href="https://github.com/tomasvrubio/miTUBE" target="_blank">
        <img class="image_fix" style="max-width:50px" src="img/github-original.svg" alt="miTUBE" title="miTUBE"/> 
      </a>
    </div>

    <div class="mt-2">
      <span>Si quieres replicar el proyecto o ver como funciona internamente puedes acceder al <a href="https://github.com/tomasvrubio/miTUBE" target="_blank">repositorio github de mitube</a>.</span>
    </div>
  </div>

</div>
