<div class="container-fluid">

  <div class="about-body">
    <h1>Sobre mí</h1>
  
    <div>
      <span>Puedes contactar conmigo a través de <strong>desarrollovazquezrubio@gmail.com</strong>. Cualquier duda, sugerencia, agradecimiento... son bienvenidos.</span>
    </div>

    <div>
      <span>Si quieres replicar el proyecto o ver como funciona internamente lo puedes ver en el <a href="https://github.com/tomasvrubio/miTUBE" target="_blank">repositorio github de mitube</a>.</span>
    </div>
  </div>

</div>
