{{!-- <h1>You can come here to know about the motivation and other works of mitube maker</h1> --}}

<div class="d-none d-lg-block">hide on screens smaller than lg</div>


<div class="container-fluid">
	<div class="row">
		<div class="col">
            1
		</div>
		<div class="col">
		    2
		</div>
		<div class="col">
		    3
		</div>
		<div class="col d-none d-sm-block">
		    4
		</div>
	</div><!--/row-->
</div><!--container-->