<div class="container-fluid">
  <div class="gmusic-body">

    <h5 class="mt-2">Para poder sincronizar las canciones mitube necesita acceder a tu <strong>perfil de Google Music</strong>.</h5>

    {{#is action "upl"}}
    <div class="text-center">
      <img class="image_fix" style="max-width:50px" src="img/cloud-computing-up.svg" alt="miTUBE" title="miTUBE"/> 
    </div>
    <h5>Primero tienes que permitir <span class="text-danger"><strong>subir canciones a tu biblioteca</strong></span>.</h5>
    {{else}}
    <div class="text-center">
      <img class="image_fix" style="max-width:50px" src="img/cloud-computing-delete.svg" alt="miTUBE" title="miTUBE"/> 
    </div>
    <h5>Y ahora no pienses que te repites ya que tienes que permitir <span class="text-danger"><strong>eliminar canciones de tu biblioteca</strong></span>.</h5>
    {{/is}}
    
    <h5>A través del siguiente enlace consigue el código de autorización y luego vuelve para pegarlo.</h5>

    <a href={{urlAuth}} target="_blank">
      <button class="btn btn-outline-dark btn-sm btn-block btn-square"><strong>Obtener código</strong></button>
    </a>

    <form id="btngMusic" action={{append "/gmusic?action=" action}} method="POST" class="form-user mt-1 text-center">
      <input type="text" name="authCode" class="form-control btn-sm" placeholder="Pegar código autorización" required>
      <button type="submit" class="btn btn-outline-dark btn-sm btn-block btn-square mt-3"><strong>Aceptar</strong></button>
      <div id="loader-animation" class="lds-ring"><div></div><div></div><div></div><div></div></div>

      {{#if message}}
      <div id="alert-gmusic" class="alert alert-danger" role="alert" style="margin-top: 20px;">
        <p><b>Resultado intento sincronización: </b>{{message}}</p>
      </div>
      {{/if}}
    </form>
  </div>
</div>

{{!-- JAVASCRIPT --}}
<script>

  const loaderAnimation = document.getElementById("loader-animation");
  const buttongMusic = document.getElementById("btngMusic");
  const gmusicComment = document.getElementById("alert-gmusic");

  buttongMusic.addEventListener("submit", function(){
    loaderAnimation.style.display = "inline-block";
    gmusicComment.style.display = "none";
  });

</script>