<div class="container-fluid">
  <div class="gmusic-body">

    <h5 class="mt-2">Para poder sincronizar las canciones mitube necesita acceder a tu <strong>perfil de Google Music</strong>.</h5>

    {{#is action "upl"}}
    <h5>Primero tienes que permitir <span class="text-danger"><strong>subir canciones a tu biblioteca</strong></span>.</h5>
    {{else}}
    <h5>Y ahora tienes que permitir <span class="text-danger"><strong>eliminar canciones de tu biblioteca</strong></span>.</h5>
    {{/is}}
    
    <h5>Para ello accede al siguiente enlace, consigue el código y luego vuelve a pegarlo.</h5>

    <a href={{urlAuth}} target="_blank">
      <button class="btn btn-outline-dark btn-sm btn-block btn-square"><strong>Obtener código</strong></button>
    </a>

    <form action={{append "/gmusic?action=" action}} method="POST" class="form-user mt-1">
      <input type="text" name="authCode" class="form-control" placeholder="Pegar código autorización" required>
      <button type="submit" class="btn btn-outline-dark btn-sm btn-block btn-square mt-3"><strong>Aceptar</strong></button>

      {{#if message}}
      <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        <p><b>Resultado intento sincronización: </b>{{message}}</p>
      </div>
      {{/if}}
    </form>
  </div>
</div>