<h1><a href="{{urlAuth}}" target="_blank">Here</a> you can authorize the APP to connect to your Google Music Profile.</h1>

<form method="POST" action="/process-gmusic">    
  <input type="text" name="authCode" placeholder="Codigo autorización">
  <button type="submit">Aceptar</button>
</form> 