<div id="manual-body" class="col-lg-12">

  <h2 class="mt-3 mb-3">Bienvenido a <strong>mitube</strong></h2>

  <dl class="row">
    <dt class="col-sm-3">¿Qué es?</dt>
    <dd class="col-sm-9 manual-comentario mb-3">
      <span>Se trata de una aplicación web que sincroniza las listas de YouTube que le indicas para que aparezcan en todos tus dispositivos y puedas reproducirlas sin gastar datos (internet).</span>
      <img class="image_fix manual-imagen" src="img/mitube_diagrama.svg" alt="miTUBE" title="miTUBE"/>  
    </dd>
 
    <dt class="col-sm-3" id="manual-howItWorks">¿Cómo funciona?</dt>
    <dd class="col-sm-9 manual-comentario mb-3">
      <span>Utilizamos la plataforma de <a href="https://play.google.com/music/" target="_blank">Google Music</a> para almacenar la música que vas indicando a través de las listas de YouTube. Si no sabes como crear una lista de reproducción puedes ver un <a href="https://www.xataka.com/basics/como-crear-una-lista-de-reproduccion-en-youtube" target="_blank">tutorial aquí</a>.</span>
      <span>La segunda vez que entras a mitube, una vez el administrador permite tu acceso, autorizas el acceso a tu biblioteca musical de Google. A través de esa autorización accedemos a tu zona personal para subir, modificar y eliminar las canciones que nos vas indicando .</span>
      <span>Un requisito que tiene Google (que no tiene nada que ver con mitube) es que para que te permita subir canciones a Google Music tienes que tener asociado a tu cuenta un método de pago. Si has comprado alguna vez una aplicación en Play Store lo normal es que ya lo tengas asociado. Si no tendrás que entrar en la <a href="https://play.google.com/music/" target="_blank">web de Google</a> e introducirlo. <strong>Usar mitube no te va a generar ningún gasto</strong>, pero para poder almacenar canciones en la biblioteca de música de tu usuario es necesario.</span>
    </dd>

    <dt class="col-sm-3" id="manual-howListen">¿Cómo escucho la música sincronizada?</dt>
    <dd class="col-sm-9 manual-comentario mb-3">
      <span>Depende del dispositivo en el que te encuentres accederás de una manera u otra. Lo que siempre será igual es que las listas que hayas creado aparecerán en la sección <strong>ÁLBUMES</strong>.</span>
      <span>Si estás en <strong>tu ordenador</strong> accederás a través de la web de <a href="https://play.google.com/music/" target="_blank">Google Music</a></span>
      <img class="image_fix manual-imagen mt-1 mb-1" src="img/mitube_pcEjemplo.png" alt="miTUBE" title="miTUBE"/>
      <span>Si estás en <strong>tu móvil o tablet</strong> accederás a través de la aplicación Google Music. Existe versión tanto para <a href="https://play.google.com/store/apps/details?id=com.google.android.music&hl=es" target="_blank">Android</a> como <a href="https://itunes.apple.com/es/app/google-play-music/id691797987?mt=8" target="_blank">iOS</a>.</span>
      <span>Un <strong>requisito que tiene Google</strong> (que no tiene nada que ver con mitube) es que para que te permita subir canciones a Google Music tienes que tener asociado a tu cuenta un método de pago. Si has comprado alguna vez una aplicación en Play Store lo normal es que ya lo tengas asociado. Si no tendrás que entrar en la <a href="https://play.google.com/music/" target="_blank">web de Google</a> e introducirlo. <strong>Usar mitube no te va a generar ningún gasto</strong>, pero para poder almacenar canciones en la biblioteca de tu cuenta es necesario.</span>
    </dd>

    <dt class="col-sm-3">¿Es seguro dar mi autorización?</dt>
    <dd class="col-sm-9 manual-comentario mb-3">Si. Sólo estás dando acceso a tu biblioteca musical, nada más. Lo peor que puede pasar es que te aparezcan canciones que no pediste o que desaparezcan todas las canciones.</dd>

    <dt class="col-sm-3">¿Cuándo se sincroniza?</dt>
    <dd class="col-sm-9 manual-comentario mb-3">
      <span>Hay tres formas de que se recojan los cambios cuando se añaden canciones en YouTube:</span>
      <ul>
        <li>Al <strong>acceder al detalle de una lista</strong>. Se actualizará esa lista y se mostrarán aquellas canciones que hayas añadido.</li>
        <img class="image_fix manual-imagen mt-1 mb-1" src="img/mitube_actLista.png" alt="miTUBE" title="miTUBE"/>  
        <li>Al pulsar el botón <strong>ACTUALIZAR TODAS TUS LISTAS</strong>. Con esto actualizarás todas las canciones que se hayan incorporado a tus listas y apareceran en todos tus dispositivos.</li>
        <img class="image_fix manual-imagen mt-1 mb-1" src="img/mitube_actTodas.png" alt="miTUBE" title="miTUBE"/>  
        <li><strong>Todos los días a las 03:00</strong> se actualizan todas las listas de la aplicación. Sólo debes esperar y ocurrirá.</li>
      </ul>
      <span>Con estas dos últimas opciones se actualizarán todas tus listas menos aquellas en las que hayas desactivado la sincronización. Se activa/desactiva con el interruptor de la imagen (si aparece en rojo es que está desactivada).</span>
      <img class="image_fix manual-imagen mt-1 mb-1" src="img/mitube_syncToggle.png" alt="miTUBE" title="miTUBE"/>  
    </dd>

    <dt class="col-sm-3">Consejos de uso</dt>
    <dd class="col-sm-9 manual-comentario mb-3">
      <span>Consejos para mejorar la experiencia con mitube:</span>
      <ul>
        <li>Para que <strong>no aparezcan audios de WhatsApp</strong> o de otras aplicaciones entre las canciones de tu móvil te recomiendo que sigas <a href="https://www.xataka.com/basics/como-ocultar-las-fotos-y-videos-de-whatsapp-de-la-galeria-de-android" target="_blank">este tutorial</a>.</li>
        <li>Para <strong>no gastar datos</strong> puedes descargar la lista en tu dispositivo. Las nuevas canciones que se incorporen se descargarán atutomáticamente (en principio sólo cuando tengas WIFI, a menos que en las opciones de Google Music hayas indicado lo contrario). Si tienes dudas sigue el <a href="https://support.google.com/googleplaymusic/answer/1250232?hl=es" target="_blank">tutorial de Google</a>.</li>
      </ul>
    </dd>

  </dl>
</div>