<div class="container-fluid">

  <h1>Bienvenido a <strong>mitube</strong></h1>

  <dl class="row">
    <dt class="col-sm-3">¿Qué es?</dt>
    <dd class="col-sm-9">Se trata de una aplicación web que sincroniza las listas de YouTube que le indicas a todos tus dispositivos.</dd>

    <dt class="col-sm-3">¿Cómo funciona?</dt>
    <dd class="col-sm-9">
      <span>Al finalizar tu registro en mitube autorizas el acceso a tu biblioteca musical de Google. A través de esa autorización podemos subir, modificar y eliminar las canciones que nos vas indicando.</span>
    </dd>

    <dt class="col-sm-3">¿Es seguro dar mi autorización?</dt>
    <dd class="col-sm-9">SI. Sólo estás dando acceso a tu biblioteca musical, nada más. Lo peor que puede pasar es que te aparezcan canciones que no pediste o que desaparezcan todas las canciones.</dd>

    <dt class="col-sm-3 text-truncate">¿Cuándo se sincroniza?</dt>
    <dd class="col-sm-9">
      <span>Hay tres formas de que se </span>
      <ul>
        <li>Al acceder al detalle de una lista. Se actualizará ESA lista.</li>
        <li>Al pulsar el botón ACTUALIZAR TODAS TUS LISTAS. Con esto actualizarás todas las canciones que se hayan incorporado a tus listas y apareceran en tus dispositivos.</li>
        <li>Todos los días a las 03:00 se actualizan todas las listas de la aplicación. Sólo debes esperar.</li>
      </ul>
    
    </dd>
  </dl>
</div>