<div class="col-lg-6 text-center">
  <form action="register" method="POST" class="form-user">
    <h2 class="mt-5">Regístrate</h1>
    <input type="text" name="name" class="form-control mt-3" placeholder="Nombre" required autofocus>
    <input type="email" name="email" class="form-control" placeholder="Email" required>
    <button class="btn btn-lg btn-dark btn-block btn-square color-negro mt-1" type="submit">Registrarse</button>

    {{#if alert}}
    <div class="alert alert-danger mt-3" role="alert">
      {{alert}}
    </div>
    {{/if}}
  </form>
</div>  