
<form action="/register" method="POST" class="form-user">
    <h1 class="h3 mb-3 font-weight-normal">Regístrate</h1>
    <input type="text" name="name" class="form-control" placeholder="Nombre" required autofocus>
    <input type="email" name="email" class="form-control" placeholder="Email" required>
    <button class="btn btn-lg btn-dark btn-block btn-square color-negro" type="submit">Registrarse</button>

    {{#if alert}}
    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        {{alert}}
    </div>
    {{/if}}
</form>
{{!-- 
{{#if message}}
    <p>{{message}}</p>
{{/if}} --}}