
<form action="/register" method="POST" class="form-register">
    <h1 class="h3 mb-3 font-weight-normal">Regístrate</h1>
    <input type="text" name="name" class="form-control" placeholder="Nombre" required autofocus>
    <input type="email" name="email" class="form-control" placeholder="Email" required>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Registrarse</button>
</form>

{{#if message}}
    <p>{{message}}</p>
{{/if}}