<div class="col-lg-12">

  <img class="manual-imagen mt-2" style="display:inline-block" src="img/wait.jpg" alt="miTUBE" title="miTUBE"/>  

  <h5 class="mt-3">Tienes que esperar a que el Administrador te de acceso. </h5>

  <h5 class="mt-2">Cuando lo haga te llegará un mail avisando para que puedas entrar. </h5>

  <h5 class="mt-2">Mientras tanto puedes aprovechar para leer los <a href="manual">detalles de mitube</a>. </h5>

</div>