<div class="col-lg-12">

  <div class="text-center mt-4">
    <a href="{{userdata.home}}">
      <img class="image_fix" style="max-width:200px" src="img/stop.svg" alt="miTUBE" title="miTUBE"/> 
    </a>
  </div>

  <div style="padding-left:10%">
    <h5 class="mt-4">Tienes que esperar a que el Administrador te de acceso. </h5>

    <h5 class="mt-1">Cuando lo haga te llegará un email avisando para que puedas entrar. </h5>

    <h5 class="mt-1">Mientras tanto puedes aprovechar para leer los <a href="manual">detalles de mitube</a>. </h5>
  </div>

</div>